
.main-container{
  margin:  0 auto ;
  max-width: 700px;
}
.table-container{
  margin: auto;
}
.App-table {
  border-collapse: collapse;
  margin:  0 auto ;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.App-table thead tr {
  background-color: #9b5f8a;
  color: #ffffff;
  text-align: left;
}
.App-table tbody tr{
  cursor: pointer;
}
.App-table tbody tr:hover{
  background-color: #f3d1ea;
}
.App-table th{
  cursor: pointer;
}
.App-table th,
.App-table td {
  padding: 10px 15px;
}
.App-table_arrow{
  width: 10px;
  padding-left: 10px;
  filter: invert(60%);
}
.ascending{
  filter: invert(0%);
}
.descending{
  filter: invert(0%);
   padding-left: 0px;
  padding-right: 10px;
  transform: rotate(180deg);
}
.pageListContainer{
  display: flex;
  justify-content: space-between;
}
.pageList_item{
  list-style-type: none;
  width: 20px;
  height: 20px;
  border: #9b5f8a solid 2px;
  margin-right: 10px;
  padding: 5px;
}
.pageList_item:first-child{
  margin-right: 0px;
}
.pageList_item:hover{
  background-color: #f3d1ea;
}
.currentPage{
  background-color: #f3d1ea;
}

