
.main-container{
  margin:  0 auto ;
  max-width: 800px;
}
.filters-container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.filters-input{
  box-sizing: border-box;
  height: 30px;
  outline: none;
  border: none;
  border: #9b5f8a solid 2px;
}
.filters-button{
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #EFE7BC;
  border: #9b5f8a solid 2px;
  cursor: pointer;
}
.filters-button:hover{
  box-shadow: inset 0 6px 10px 0 rgba(0,0,0,0.2), inset 0 4px 14px 0 rgba(0,0,0,0.19);
}
.table-container{
  margin: auto;
}
.App-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.App-table thead tr {
  background-color: #9b5f8a;
  color: #ffffff;
  text-align: left;
}
.App-table tbody tr{
  cursor: pointer;
}
.App-table tbody tr:hover{
  background-color: #9b5f8a35;
}
.App-table th{
  cursor: pointer;
}
.App-table th,
.App-table td {
  padding: 10px 15px;
}
.App-table_arrow{
  width: 10px;
  padding-left: 10px;
  filter: invert(60%);
}
.ascending{
  filter: invert(0%);
}
.descending{
  filter: invert(0%);
   padding-left: 0px;
  padding-right: 10px;
  transform: rotate(180deg);
}
.pagination-container{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.pagination-pageList{
  display: flex;
  padding: 0px;
  margin: 0px;
}
.pagination-pageList_item{
  list-style-type: none;
  width: 20px;
  height: 20px;
  border: #9b5f8a solid 2px;
  border-left: 0px;
  padding:3px 0px 3px 10px;
}
.pagination-pageList_item:last-child{
  border-right: 0px;
}
.pagination-pageList_item:hover{
  cursor: pointer;
  background-color: #9b5f8a35;
}
.currentPage{
  cursor: pointer;
  background-color: #9b5f8a67;
}
.pagination-button{
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  background-color: #EFE7BC;
  border: #9b5f8a solid 2px;
  cursor: pointer;
}
.pagination-button:hover{
  box-shadow: inset 0 6px 10px 0 rgba(0,0,0,0.2), inset 0 4px 14px 0 rgba(0,0,0,0.19);
}
.additionalInformation-container{
  border: #9b5f8a solid 2px;
  max-width: 600px;
  margin:  100px auto ;
  padding: 50px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
}
.additionalInformation{
  margin-bottom: 10px;
}
.additionalInformation:last-child{
  margin-bottom: 0px;
}

